{{> header-home-d}}

<main class="report-body">
    <section class="left-section">
        <form id="reportForm" action="./{{_id}}" method="post" >
            <!-- Loại bảng qc -->
            <div class="col-8 d-block">
                <label for="inputType" class="col-0 col-form-label input-title">Chỉnh sửa loại quảng cáo</label>
                <input type="text" class="form-control input-place" name="inputType" id="inputType"
                    placeholder="Cổ đông chính trị,.." >
            </div>

            <!-- Loại đất -->
            <div class="col-8 d-block">
                <label for="inputDetail" class="col-0 col-form-label input-title">Chỉnh sửa loại đất</label>
                <input type="text" class="form-control input-place" name="inputDetail" id="inputDetail"
                    placeholder="Đất công viên,..." >
            </div>
            {{!-- Huy hoach --}}
            <div class="col-8 d-block">
                <label for="inputCondition" class="col-0 col-form-label input-title">Cập nhật huy hoạch</label>
                <select id="inputCondition" class="form-control input-place" name="inputCondition">
                    <option value="1">Đã huy hoạch  </option>
                    <option value="0">Chưa huy hoạch</option>
                </select>
            </div>
              <!-- Cập nhật địa chỉ -->
            <div class="col-8 d-block">
                <label for="inputAddress" class="col-0 col-form-label input-title">Chỉnh sửa địa chỉ</label>
                <input type="text" class="form-control input-place" name="inputAddress" id="inputAddress"
                    placeholder="123 Lý Tự Trọng,..." >
            </div>
            <!-- Lý do -->
            <div class="col-8 d-block">
                <label for="inputLocationInfomation" class="col-0 col-form-label input-title">Lý do</label>
                <textarea class="form-control input-place" id="textAreaExample" name="inputLocationInfomation" rows="4"
                    ></textarea>
            </div>
            <div class="col-8 d-block">

                <button id="open-button-outside" class="btn btn-primary open-button" type="submit">
                    Gửi
                </button>
            </div>

        </form>


    </section>
    <section class="right-section">
        <div class="report-info">
            <div class="card text-center">
                <h3 class="card-title">Yêu cầu chỉnh sửa địa điểm</h3>
                <div class="card-text-container shadow-lg">

                    <h4 class="card-text-title">
                        {{type}}
                    </h4>

                    <p class="card-text-1">
                        {{address}}, phường {{ward}}, quận {{district}}
                    </p>
                    <hr>
                    <p class="card-text-2">
                        Loại đất : {{detail}}<br>
                        Số lượng bảng quảng cáo: {{numberOfAds}} <br>
                        <label for="myCheckbox">Huy hoạch</label>
                        <input type="checkbox" id="myCheckbox" name="myCheckbox" value="1" checked disabled>

                    </p>
                </div>

            </div>
        </div>
        <div class="sn-icon text-end">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
            <a href="https://www.web.telegram.org"></a><i class="fa-brands fa-telegram fa-xl"></i></i>
        </div>
    </section>
</main>

{{> sidebar-home-d}}

<script>
    // Lấy thẻ checkbox
    var checkbox = document.getElementById('myCheckbox');

    // Khai báo biến của bạn
    var myVariable = {{ condition }}; // Đặt giá trị tùy thuộc vào biến thực tế của bạn

    // Kiểm tra giá trị biến và chọn hoặc không chọn checkbox tương ứng
    if (myVariable === 1) {
        checkbox.checked = true;
    } else {
        checkbox.checked = false;
    }
</script>